COPYING
INSTALL
Doxyfile

# scratch files for composing a commit message / PR body
commit.txt
pr.txt
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build*/
build-*
ar-lib
compile
config.*
configure
debian/.debhelper*
debian/files
debian/jlib*
depcomp
html/
install-sh
jlib/jlib-1.2.pc
latex/
libsodium*
libtool
ltmain.sh
missing
stamp-h1
test-driver

# libtoolize regenerates these into m4/; ax_pthread.m4 is vendored and tracked.
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

*~
*.lo
*.o
*.la
*.deps
*.libs
