COPYING
INSTALL
Dockerfile
Doxyfile
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build*/
build-*
compile
config.*
configure
debian/.debhelper*
debian/files
debian/jlib*
depcomp
html/
install-sh
jlib/jlib-1.2.pc
latex/
libsodium*
libtool
ltmain.sh
missing
stamp-h1
test-driver
*~
*.lo
*.o
*.la
*.deps
*.libs