Source: jlib
Section: unknown
Priority: extra
Maintainer: Xolotl Loki <xoloki@unknown>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.0
Homepage: <insert the upstream URL, if relevant>

Package: jlib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: jlib-doc
Architecture: all
Description: documentation for jlib
 <insert long description, indented with spaces>
