Source: jlib
Section: unknown
Priority: extra
Maintainer: Joey Yandle <dragon@dancingdragon.net>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.0
Homepage: 

Package: jlib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ cornucopia
 C++ libraries for crypto, net, media, gl, sys

Package: jlib-doc
Architecture: all
Description: documentation for jlib
 C++ libraries for crypto, net, media, gl, sys
